<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Intranet
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <span class="dropdown-item rpl-links" ng-click = "libcalapp()">LibCal Program Agenda</span>
      <span class="dropdown-item rpl-links" ng-click = "referenceapp()">Request Statistics</span>
      <!-- <span class="dropdown-item rpl-links" ng-click = "wikiapp()">Policy Wiki</span> -->


      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Subscription Web Apps</h6>
      <a class="dropdown-item" href="https://rvalibrary.libapps.com/libapps/login.php?site_id=12885&target=" target = '/'>LibCal</a>
      <a class="dropdown-item" href="https://rvalibrary.libstaffer.com" target = '/'>LibStaffer</a>
      <a class="dropdown-item" href="https://www.libraryaware.com/login" target = '/'>LibraryAware</a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" target = '/' href="http://rvalibrary.org">rvalibrary.org</a>
      <a class="dropdown-item" target = '/' href="https://rapidsweb.ci.richmond.va.us/">RAPIDS</a>


      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header text-danger">Coming Soon (Maybe)</h6>
      <!-- <a class="dropdown-item disabled" href="#">Policy Wiki</a> -->
      <!-- <a class="dropdown-item disabled" href="#">Programs Rolodex</a> -->
      <a class="dropdown-item disabled" href="#">New Employee Handbook</a>
    </div>
  </li>
</ul>
