////general rules
.table_parent {
  display: table; }

.table_child {
  display: table-cell;
  vertical-align: middle; }

.nodisplay{
  display:none;
}

.dashed{border: 1px dashed black;}
.rpl-links{cursor: pointer;}


//color schemes
$background_dark: #E1E2E1;
$background_light: #F5F5F6;
//scheme1
$s1_primary: #006599;
$s1_primary_light: #c490ff;
$s1_primary_dark: #5d34af;

///////S1 CLASS DEFINITIONS///////
.btn-s1, .options-s1{background-color: $s1_primary; color: white;}
.options-s1:focus,.options-s1:active:focus,.options-s1.active:focus,
.options-s1.focus,.options-s1:active.focus,.options-s1.active.focus {
    outline: none;
    box-shadow: none;
}
.btn-s1:hover{background-color: $s1_primary_dark;}

//scheme2
$s2_primary: #cc6600;//#ef6c00;
$s2_primary_light: #ff9d3f;
$s2_primary_dark: #b53d00;

.btn-s2{background-color: $s2_primary_light;}
.btn-s2-hover{background-color: $s2_primary;}
.btn-s2-active{background-color: $s2_primary_dark;}

///////S2 CLASS DEFINITIONS///////
.btn-s2, .options-s2{background-color: $s2_primary; color: white;}
.options-s2:focus,.options-s2:active:focus,.options-s2.active:focus,
.options-s2.focus,.options-s2:active.focus,.options-s2.active.focus {
    outline: none;
    box-shadow: none;
}
.btn-s2:hover{background-color: $s2_primary_dark;}

//loading blur and spinner

$blur_radius: blur(3px);
.page_blur{
  -webkit-filter: $blur_radius;
  -moz-filter: $blur_radius;
  -o-filter: $blur_radius;
  -ms-filter: $blur_radius;
  filter: $blur_radius;
}

.spinner{
-webkit-animation:spin 1.3s linear infinite;
-moz-animation:spin 1.3s linear infinite;
animation:spin 1.3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loading_div_parent{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100
}

$loading_dim: 100px;

.loading_div{
  z-index: 101;
  height: $loading_dim;
  width: $loading_dim;
  margin: calc(50vh - 50px) auto;
  font-size: 100px;
}

.loadshow{
  display: inline!important;
}



//////////////////above mobile size//////////////////////
@media (min-width: 768px){


  $ge_size: 65px;
  $geb_size: $ge_size + 25px;
  $ge_offset: ($geb_size - $ge_size)/2;
  $bottom_nav_color: #d6d6d6;
  #get_events_button{
    border-radius: $ge_size;
    width: $ge_size;
    height: $ge_size;
    font-size: 25px;
  }

  #bottom_datepicker_nav{
    padding-bottom: 15px;
    background-color: $bottom_nav_color;
    // box-shadow: 0px -1px 2px #939393;
  }

  #querybutton_ul button{position: absolute; bottom: 0px; right: $ge_offset;}
  #querybutton_ul div {position: absolute; bottom: -$ge_offset; right: 0px;
                      width: $geb_size; height: $geb_size; background-color: $bottom_nav_color;
                      border-top-left-radius: $geb_size/2; border-top-right-radius: $geb_size/2;}

// box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;



  #options_row{position: absolute; right: 0; z-index: 100;}
  div.angular_event_list{padding-bottom: 100px;}




  #libcal_events_header{display: none;}

  div.mobile_dates_button{display: none;}
  div.mobile_menu_button{display: none;}
  div.mobile_date_menu_container{display:none;}

  .events_container,
  .nav_container{min-width: 992px;}


  h2{font-family: 'Mate SC';}
  .events_title{
    padding: 10px 0px;
    font-family: 'Mate SC';}
  .events_title h1{font-size: 50px; font-weight: bold;}

  .angular_event_list h4{font-size: 22px; font-weight: normal;}
  .angular_event_list h6{font-weight: 500;}

  #branchnav{margin-bottom: 15px;}

  #datepickernav li div button,
  #datepickernav li button,
  #branchnav li div button,
  #branchnav li button{height: 42px;}
  .datepicker input{width: 170px;}
  .datepicker{margin-left: 10px;}
  #startdate, #enddate{width: 165px;}



  #bottom_date_nav{
    height: 100px;
    border: 1px dashed black;

  }

}

////////////////////////mobile size////////////////////////////

//date button variables
$xtrans: 85px;
$datebuttondim: 85px;
$datebuttonpos: 17.5px;
$animationspeed: .2s;
$dateupangle: 225deg;
$datedownangle:135deg;

@keyframes date_down {
  from { transform: rotate($dateupangle) translateX($xtrans) rotate(-$dateupangle); }
  to   { transform: rotate($datedownangle) translateX($xtrans) rotate(-$datedownangle); }
}
@keyframes date_up {
  from { transform: rotate($datedownangle) translateX($xtrans) rotate(-$datedownangle);}
  to   { transform: rotate($dateupangle) translateX($xtrans) rotate(-$dateupangle); }
}

@media only screen and (max-width: 768px) {
  //header transition

  div.cancel_clickable{
    height:100vh;
    width: 100vh;
    // background-color: black;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav.navbar{display: none;}

  .animate_menu_up{animation: date_menu_up $animationspeed linear forwards;}
  .animate_menu_down{animation: date_menu_down $animationspeed linear forwards;}

  .animate_date_button_down{
    animation: date_down $animationspeed linear forwards; // infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
    bottom: -$datebuttondim/2!important;
    right: -$datebuttondim/2!important;
  }
  .animate_date_button_up{
    animation: date_up $animationspeed linear forwards; // infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
    bottom: -$datebuttondim/2!important;
    right: -$datebuttondim/2!important;
  }

  div.mobile_dates_button{
    height: $datebuttondim;
    width: $datebuttondim;
    background-color: #4885ed;
    border-radius: 100%;
    position: fixed;
    bottom: $datebuttonpos;
    right: $datebuttonpos;
    color: white;
    font-size: 35px;

    }

  div.mobile_menu_button{
    height: 40px;
    width: 40px;
    background-color: #4885ed;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    left: 37px;
    color: white;
    font-size: 20px;}


    #datepickernav{display: none;}



  div.mobile_date_menu_container{
    z-index: 3;
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;}

  div.mobile_date_menu{
    position: relative;
    width: 100%;
    background-color: #4885ed;
    padding: 10px 10px;
  }
  .mobile_date_menu span{color: white;}
  .mobile_date_menu input{margin-bottom: 10px;}
  .mobile_date_menu button{width: 50%;}
  // .right_button{padding-left: 5px;}
  // .left_button{padding-right: 5px;}

  div.events_title{
    text-align: center;
    padding: 10px 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #4885ed;
    }
  div.events_title h1{margin: 0 0; padding: 0; font-family: 'Mate SC';}
  div.angular_event_list{margin-top: 65px;}


  //mobile top buttons
  $button_font_size: 18px;
  $big_button_font_size: $button_font_size + 5px;
  div.button_container{margin-bottom: 10px;}
  div.menu_button_div{
    display: inline-block;
    width: 49.2%;

  }
  div.menu_button_div button{width: 100%; height: 60px; font-size: $button_font_size;}
  div.menu_button_div_left{padding-right: 3px;}
  div.menu_button_div_right{padding-left: 3px;}

  $ratio_value: 35%;
  $safety_margin: .8%;
  $left_bottom_button_width: $ratio_value - $safety_margin;
  $right_bottom_button_width: (100% - $safety_margin - $left_bottom_button_width) - $safety_margin;
  //mobile bottom buttons
  div.mobile_bottom_menu_left_div{
      display: inline-block;
      width: $left_bottom_button_width;
      padding-right: 3px;}
  div.mobile_bottom_menu_right_div{
      display: inline-block;
      width: $right_bottom_button_width;
      padding-left: 3px;}


  button.todaybutton{font-size:$button_font_size;}
  button.retrievebutton{font-size: $big_button_font_size}
  button.retrievebutton,
  button.todaybutton{
        margin-top: 5px;
        width: 100%;
        height: 100px;
      }


}//media query

////////////////////// PRINTING////////////////////////////////
@media screen {
    #printSection {display: none;}
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }

    h1::first-letter,
    h2::first-letter,
    h3::first-letter,
    h4::first-letter{
    margin-top: 0;
    }
}
