.table_parent {
  display: table; }

.table_child {
  display: table-cell;
  vertical-align: middle; }

.nodisplay {
  display: none; }

.dashed {
  border: 1px dashed black; }

.rpl-links {
  cursor: pointer; }

.page_blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); }

.spinner {
  -webkit-animation: spin 1.3s linear infinite;
  -moz-animation: spin 1.3s linear infinite;
  animation: spin 1.3s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.loading_div_parent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100; }

.loading_div {
  z-index: 101;
  height: 100px;
  width: 100px;
  margin: calc(50vh - 50px) auto;
  font-size: 100px; }

.loadshow {
  display: inline !important; }

@media (min-width: 768px) {
  #get_events_button {
    border-radius: 65px;
    width: 65px;
    height: 65px;
    font-size: 25px; }

  #querybutton_ul button {
    position: absolute;
    bottom: 0px;
    right: 12.5px; }

  #querybutton_ul div {
    position: absolute;
    bottom: -12.5px;
    right: 0px;
    width: 90px;
    height: 90px;
    background-color: #f7f7f7;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px; }

  #libcal_events_header {
    display: none; }

  div.mobile_dates_button {
    display: none; }

  div.mobile_menu_button {
    display: none; }

  div.mobile_date_menu_container {
    display: none; }

  .events_container,
  .nav_container {
    min-width: 992px; }

  h2 {
    font-family: 'Mate SC'; }

  .events_title {
    padding: 10px 0px;
    font-family: 'Mate SC'; }

  .events_title h1 {
    font-size: 50px;
    font-weight: bold; }

  .angular_event_list h4 {
    font-size: 22px;
    font-weight: normal; }

  .angular_event_list h6 {
    font-weight: 500; }

  #branchnav {
    margin-bottom: 15px; }

  #datepickernav li div button,
  #datepickernav li button,
  #branchnav li div button,
  #branchnav li button {
    height: 42px; }

  .datepicker input {
    width: 170px; }

  .datepicker {
    margin-left: 10px; }

  #startdate, #enddate {
    width: 165px; }

  #bottom_date_nav {
    height: 100px;
    border: 1px dashed black; } }
@keyframes date_down {
  from {
    transform: rotate(225deg) translateX(85px) rotate(-225deg); }
  to {
    transform: rotate(135deg) translateX(85px) rotate(-135deg); } }
@keyframes date_up {
  from {
    transform: rotate(135deg) translateX(85px) rotate(-135deg); }
  to {
    transform: rotate(225deg) translateX(85px) rotate(-225deg); } }
@media only screen and (max-width: 768px) {
  div.cancel_clickable {
    height: 100vh;
    width: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0; }

  nav.navbar {
    display: none; }

  .animate_menu_up {
    animation: date_menu_up 0.2s linear forwards; }

  .animate_menu_down {
    animation: date_menu_down 0.2s linear forwards; }

  .animate_date_button_down {
    animation: date_down 0.2s linear forwards;
    bottom: -42.5px !important;
    right: -42.5px !important; }

  .animate_date_button_up {
    animation: date_up 0.2s linear forwards;
    bottom: -42.5px !important;
    right: -42.5px !important; }

  div.mobile_dates_button {
    height: 85px;
    width: 85px;
    background-color: #4885ed;
    border-radius: 100%;
    position: fixed;
    bottom: 17.5px;
    right: 17.5px;
    color: white;
    font-size: 35px; }

  div.mobile_menu_button {
    height: 40px;
    width: 40px;
    background-color: #4885ed;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    left: 37px;
    color: white;
    font-size: 20px; }

  #datepickernav {
    display: none; }

  div.mobile_date_menu_container {
    z-index: 3;
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 0 10px; }

  div.mobile_date_menu {
    position: relative;
    width: 100%;
    background-color: #4885ed;
    padding: 10px 10px; }

  .mobile_date_menu span {
    color: white; }

  .mobile_date_menu input {
    margin-bottom: 10px; }

  .mobile_date_menu button {
    width: 50%; }

  div.events_title {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #4885ed; }

  div.events_title h1 {
    margin: 0 0;
    padding: 0;
    font-family: 'Mate SC'; }

  div.angular_event_list {
    margin-top: 65px; }

  div.button_container {
    margin-bottom: 10px; }

  div.menu_button_div {
    display: inline-block;
    width: 49.2%; }

  div.menu_button_div button {
    width: 100%;
    height: 60px;
    font-size: 18px; }

  div.menu_button_div_left {
    padding-right: 3px; }

  div.menu_button_div_right {
    padding-left: 3px; }

  div.mobile_bottom_menu_left_div {
    display: inline-block;
    width: 34.2%;
    padding-right: 3px; }

  div.mobile_bottom_menu_right_div {
    display: inline-block;
    width: 64.2%;
    padding-left: 3px; }

  button.todaybutton {
    font-size: 18px; }

  button.retrievebutton {
    font-size: 23px; }

  button.retrievebutton,
  button.todaybutton {
    margin-top: 5px;
    width: 100%;
    height: 100px; } }
@media screen {
  #printSection {
    display: none; } }
@media print {
  body * {
    visibility: hidden; }

  #printSection, #printSection * {
    visibility: visible; }

  #printSection {
    position: absolute;
    left: 0;
    top: 0; }

  h1::first-letter,
  h2::first-letter,
  h3::first-letter,
  h4::first-letter {
    margin-top: 0; } }

/*# sourceMappingURL=libcal_style.css.map */
