<nav-bar></nav-bar>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>LibCal events lister.</h1>

      <!-- <button ng-if="libcaltoken" class="btn btn-secondary" ng-click="pullspaces()" >Get spaces</button> -->

    </div>
  </div>
  <div class="row"><!--datepicker row -->
    <div class="col-sm-12">
      <nav class="nav nav-pills " id="datepickernav">
        <li class="nav-item text-left">

        </li>
        <li class="nav-item text-left datepicker">
          <form class="form-inline">
            <label style="margin-right: 10px;"for="startdate">Start:</label>
            <input type="date" class="form-control" id="startdate" ng-model="from" ng-disabled = "datedisable">
          </form>

        </li>
        <li class="nav-item text-left datepicker">
          <form class="form-inline">
            <label style="margin-right: 10px;" for="enddate">End:</label>
            <input type="date" class="form-control" id="enddate" ng-model="to" ng-disabled = "datedisable">
          </form>
        </li>
        <li class="nav-item text-left datepicker">
          <button class="btn btn-secondary" ng-click = "todaybutton()" ng-disabled = "datedisable">Today</button>
        </li>
        <li class="nav-item text-left datepicker">
          <button class="btn btn-secondary" ng-click = "weekbutton()" ng-disabled = "datedisable">Week</button>
        </li>
        <!-- GO BUTTON -->
        <li class="nav-item text-right ml-auto">
            <button class="btn btn-success pull-right"  ng-click = "get_events()" ng-disabled = "datedisable || disable_load">Look Up</button>
        </li>
      </nav>
    </div>

  </div><!--datepicker row -->



  <div class="row" ng-if="eventarray">
    <div class="col-sm-12" ng-repeat="event_item in eventarray">
      <div ng-if = "$even">
        <h2>{{event_item}}</h2>
      </div>
      <div ng-if = "$odd">
        <div style = "margin-bottom: 10px;" ng-repeat = "detail in event_item">
          Name: {{detail.firstName}} {{detail.lastName}}
          <br>
          Email: {{detail.email}}
          <br>
          Start: {{get_time(detail.fromDate)}}
          <br>
          Finish: {{get_time(detail.toDate)}}
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="row">
    <div class="col-sm-12"><button class="btn btn-secondary" ng-click="pullspaces('2017-10-16')">Click Me</button></div>
  </div> -->



</div>
