<nav-bar></nav-bar>


<div class="loading_div_parent" style="display:none;" ng-class="loading_display">
  <div class="loading_div table_parent" style="text-align: center;"><i class="fa fa-spinner table_child spinner" aria-hidden="true"></i></div>
</div>

<div class="container events_container" ng-class="loading_blur">


  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="events_title" ng-class="header_shown">
        <h1>Events</h1>
      </div>
    </div>
  </div> -->

  <div class="row"><!--datepicker row -->
    <div class="col-sm-12" style="margin-top: 10px;">
      <nav class="nav nav-pills" id="datepickernav">
        <li class="nav-item text-left">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled = "datedisable">
              {{branch}}
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a ng-repeat = "location in mapping" class="dropdown-item" ng-click = "changebranch(location.branch)" href="#">{{location.branch}}</a>
              </div> <!-- dropdown-menu -->
          </div> <!-- dropdown -->
        </li><!-- branch dropdown li -->
        <li class="nav-item text-left datepicker">
          <form class="form-inline">
            <label style="margin-right: 10px;"for="startdate">Start:</label>
            <input type="date" class="form-control" id="startdate" ng-model="from" ng-disabled = "datedisable">
          </form>

        </li>
        <li class="nav-item text-left datepicker">
          <form class="form-inline">
            <label style="margin-right: 10px;" for="enddate">End:</label>
            <input type="date" class="form-control" id="enddate" ng-model="to" ng-disabled = "datedisable">
          </form>
        </li>
        <li class="nav-item text-left datepicker">
          <button class="btn btn-secondary" ng-click = "todaybutton()" ng-disabled = "datedisable">Today</button>
        </li>
        <li class="nav-item text-left datepicker">
          <button class="btn btn-secondary" ng-class="disable_today" ng-click = "lose_day_button()" ng-disabled = "backdisable" style="font-size: 20px;">-</i></button>
        </li>
        <li class="nav-item text-left datepicker">
          <button class="btn btn-secondary" ng-click = "add_day_button()" ng-disabled = "datedisable" style="font-size: 20px;">+</i></button>
        </li>

        <!-- <li class="nav-item text-left datepicker">
          <button class="btn btn-secondary" ng-click = "weekbutton()" ng-disabled = "datedisable">Week</button>
        </li>
        <li class="nav-item text-left datepicker">
          <button class="btn btn-secondary" ng-click = "add_week_button()" ng-disabled = "datedisable" style="font-size: 20px;">+</i></button>
        </li> -->
        <!-- GO BUTTON -->
        <li class="nav-item text-right ml-auto">
          <button class="btn btn-success pull-right"  ng-click = "get_events()" ng-disabled = "datedisable || disable_load">Look Up</button>
          <button style = "margin-right: 10px;" class="btn btn-secondary pull-right"  ng-print print-element-id="printThisElement" ng-disabled = "datedisable || disable_load"><i class="fa fa-print" aria-hidden="true"></i></button>

        </li>
      </nav>
    </div>

  </div><!--datepicker row -->



    <div class="row angular_event_list" id = "printThisElement" style="padding-left: 10px;">
        <div class="col-sm-12" ng-repeat="event_item in sortedarray">
            <h2 style="margin-bottom: 20px;">{{event_item.date}}</h2>
            <div ng-if="event_item.eventinfo.length > 0">
              <div style = "margin-bottom: 10px;" ng-repeat = "detail in event_item.eventinfo">
                <h4 ng-if = "detail.cid != '2710'">{{get_room_key(detail.eid)}} : {{get_time(detail.fromDate)}} - {{get_time(detail.toDate)}}</h4>
                <h6 ng-if = "detail.cid == '2710'" style="margin-bottom: 5px;">{{get_room_key(detail.eid)}} : {{get_time(detail.fromDate)}} - {{get_time(detail.toDate)}}</h6>
                <div style="padding-left: 5px;">
                  Name: {{detail.firstName}} {{detail.lastName}}
                  <br>
                  Email: {{detail.email}}
                  <br>
                  <div ng-repeat = "(number, question) in detail.questions">
                    {{question}}
                  </div>
                </div>

                <hr style="margin-right: 25%;">
              </div>
            </div>
            <!-- <div ng-if="event_item.eventinfo.length == 0"> -->
            <div ng-if="sortedarray.length == []">
              {{message}}
            </div>

        </div><!--col-sm-12-->
    </div><!--row -->
  </div><!--container -->

  <!-- mobile stuff -->
  <div class="mobile_dates_button table_parent text-center" ng-class="dates_button_class" ng-click = "showmenu()">
    <i class="fa fa-calendar table_child" aria-hidden="true"></i>
  </div>

  <!-- mobile menu click area cancelation -->
  <div class="cancel_clickable" ng-class="is_shown" ng-click="hidemenu();"></div>

  <div class="mobile_date_menu_container" ng-class="is_shown" id="date_menu">
    <div class="mobile_date_menu">

      <div class="button_container">
        <div class="menu_button_div_left menu_button_div"><button class="btn btn-success" ng-click="lose_day_button()" ng-disabled = "backdisable">Previous Day</i></button></div>
        <div class="menu_button_div_right menu_button_div"><button class="btn btn-success" ng-click = "add_day_button()">Next Day</i></button></div>
      </div>
      <input type="date" style="text-align: center; font-size: 22px; padding-left: 10px;" class="form-control" id="mobile_startdate" ng-model="from" ng-disabled = "datedisable">
      <div class="mobile_bottom_menu_left_div"><button class="todaybutton btn btn-success" ng-click = "todaybutton()">Today</button></div>
      <div class="mobile_bottom_menu_right_div"><button class="retrievebutton btn btn-success" ng-click = "get_events(); hidemenu();">Retrieve</button></div>
    </div>

  </div><!-- mobile_date_menu_container -->





</div>
