<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <!-- brand link -->
    <!-- <navbar-brand></navbar-brand> -->
    <rpl-logo></rpl-logo>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- dropdown menu -->
      <link-dropdown style="margin-left: 10px;"></link-dropdown>

        <div class="dropdown" style="margin-top: 2px; margin-left: 10px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled = "datedisable">
            {{branch}}
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a ng-repeat = "location in mapping" class="dropdown-item" ng-click = "changebranch(location.branch)" href="#">{{location.branch}}</a>
            </div> <!-- dropdown-menu -->
        </div> <!-- dropdown -->



    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <button style = "margin-right: 10px;" class="btn btn-secondary pull-right"  ng-print print-element-id="printThisElement" ng-disabled = "datedisable || disable_load"><i class="fa fa-print" aria-hidden="true"></i></button>

      <!-- logout button -->
      <navbar-logout></navbar-logout>

    </div>

  </div><!-- container -->
</nav>
