<nav-bar></nav-bar>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Welcome to RPL Intranet!</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
<iframe src="https://api3.libcal.com/embed_calendar.php?iid=4083&cal_id=8004&w=1200&h=600&dv=month&st=0&we=1&hl=prev%2Cnext%20today&hc=title&hr=basicWeek%20agendaDay%2CagendaWeek%2Cmonth&hd=dddd%2C%20MMM%20D%2C%20YYYY&hw=MMMM%20D&hm=MMMM%20YYYY&cd=dddd%20M%2FD&cw=ddd%20M%2FD&cm=ddd&ta=h(%3Amm)a&td=h(%3Amm)a&tm=h(%3Amm)a&fh=08%3A00%3A00&mi=00%3A00%3A00&ma=24%3A00%3A00&ts=00%3A30%3A00&eo=1&el=0&hf=0&sp=1&c1=%23000000&c2=%23000000&c3=%23F3F3F3&c4=%23D0D0D0&c5=%23000000&cam=&cat=&tar=0&set=0" style="border: 0" width="1200" height="600" frameborder="0" scrolling="auto"></iframe>
    </div>
  </div>


</div>
